.socials__title {
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.socials__link--footer {
  color: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
