/* модальне вікно  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-white-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.button__icon--close {
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  min-width: 528px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--secondary-text-color);
}

.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;

  height: 40px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: start;
}

.modal__input {
  width: 100%;
  height: 100%;
  padding: 11px 12px;
  padding-left: 42px;

  outline: transparent;

  border: 1px solid var(--modal-form-color);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__input--textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  outline: transparent;

  border: 1px solid var(--modal-form-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: var(--accent-color);
  }
}

.modal__container--checkbox {
  position: relative;

  margin-bottom: 30px;

  gap: 7px;
}

.modal__input--checkbox {
  appearance: none;
  width: 16px;
  height: 15px;

  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7222 1.66667V1.16667H14.2222H1.77778H1.27778V1.66667V13.3333V13.8333H1.77778H14.2222H14.7222V13.3333V1.66667ZM1.77778 0.5H14.2222C14.9547 0.5 15.5 1.05605 15.5 1.66667V13.3333C15.5 13.944 14.9547 14.5 14.2222 14.5H1.77778C1.04525 14.5 0.5 13.944 0.5 13.3333V1.66667C0.5 1.05605 1.04525 0.5 1.77778 0.5Z' fill='%23212121' stroke='black'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:focus {
    outline-offset: 0em;
  }
}

.modal__label--checkbox {
  user-select: none;
}

.modal__link {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--accent-color);
}

.modal__button {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
