/* колір фону шапки #FFFFFF */
/* колір фону героя та футера #2F303A */
/* колір фону секцій особливості та робіт #F5F5F5 */
/* колір фону секціі з командою #F5F4FA */
/* колір тексту основний #757575 */
/* колір тексту другорядний #212121 */
/* колір акценту #2196F3 */
/* колір логотипу у хедері #000000*/
/* колір посилань у футері rgba(255, 255, 255, 0.6)*/
/* колір карток у секції customers #afb1b8*/
/* колір форм модального вікна rgba(33, 33, 33, 0.2)*/
/* колір картки #eeeeee*/

:root {
  --main-white-color: #ffffff;
  --second-section-color: #2f303a;
  --third-section-color: #f5f5f5;
  --team-section-color: #f5f4fa;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --customers-color: #afb1b8;
  --modal-form-color: rgba(33, 33, 33, 0.2);
  --card-color: #eeeeee;
}
